target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store
/.docker/mysql/db-data/#innodb_temp/
/.docker/mysql/db-data/#innodb_redo/
/.docker/mysql/db-data/mysql/
/.docker/mysql/db-data/performance_schema/
/.docker/mysql/db-data/undo**
/.docker/mysql/db-data/binlog.*
